USE [master]
GO
/****** Object:  Database [BD_LOGIN]    Script Date: 22/03/2023 20:58:46 ******/
CREATE DATABASE [BD_LOGIN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_LOGIN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BD_LOGIN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_LOGIN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BD_LOGIN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_LOGIN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_LOGIN]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 22/03/2023 20:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[COD_PRODUCTOS] [nvarchar](50) NOT NULL,
	[NOMBRE] [varchar](1000) NULL,
	[DESCRIPCION] [varchar](255) NULL,
	[MARCA] [varchar](50) NULL,
	[MODELO] [varchar](50) NULL,
	[STOCK] [int] NULL,
	[CATEGORIA] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_PRODUCTOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[registro_usuarios]    Script Date: 22/03/2023 20:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registro_usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[direccion] [varchar](100) NOT NULL,
	[cargo] [varchar](50) NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[usuario] [varchar](50) NOT NULL,
	[contrasena] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 22/03/2023 20:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [varchar](50) NOT NULL,
	[contrasena] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[productos] ([COD_PRODUCTOS], [NOMBRE], [DESCRIPCION], [MARCA], [MODELO], [STOCK], [CATEGORIA]) VALUES (N'ALM001', N'Samsung 970 EVO Plus', N'SSD NVMe de alta velocidad con capacidad de almacenamiento de 1 TB', N'Samsung', N'MZ-V7S1T0B/AM', 15, N'Almacenamiento')
INSERT [dbo].[productos] ([COD_PRODUCTOS], [NOMBRE], [DESCRIPCION], [MARCA], [MODELO], [STOCK], [CATEGORIA]) VALUES (N'ALM002', N'Western Digital Black SN750', N'SSD NVMe de alto rendimiento con capacidad de almacenamiento de 2 TB', N'Western Digital', N'WDS200T3XHC', 12, N'Almacenamiento')
INSERT [dbo].[productos] ([COD_PRODUCTOS], [NOMBRE], [DESCRIPCION], [MARCA], [MODELO], [STOCK], [CATEGORIA]) VALUES (N'ALM003', N'Disco Duro Seagate BarraCuda 2TB', N'disco duro para computadoras de escritorio', N'Seagate', N'BarraCuda, 150', 20, N'Almacenamiento')
GO
SET IDENTITY_INSERT [dbo].[registro_usuarios] ON 

INSERT [dbo].[registro_usuarios] ([id], [nombre], [apellido], [direccion], [cargo], [fecha_inicio], [usuario], [contrasena]) VALUES (16, N'Manuel', N'Acosta', N'Los Angeles', N'Programador', CAST(N'2023-01-15' AS Date), N'manuel', N'70881345')
INSERT [dbo].[registro_usuarios] ([id], [nombre], [apellido], [direccion], [cargo], [fecha_inicio], [usuario], [contrasena]) VALUES (17, N'Henry', N'Villanueva', N'Lima', N'Programador', CAST(N'2023-01-15' AS Date), N'henry', N'123456')
SET IDENTITY_INSERT [dbo].[registro_usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([id], [usuario], [contrasena]) VALUES (16, N'manuel', N'70881345')
INSERT [dbo].[usuarios] ([id], [usuario], [contrasena]) VALUES (17, N'henry', N'123456')
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
/****** Object:  Trigger [dbo].[registro_usuarios_after_insert]    Script Date: 22/03/2023 20:58:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[registro_usuarios_after_insert]
ON [dbo].[registro_usuarios]
AFTER INSERT
AS
BEGIN
  INSERT INTO usuarios (usuario, contrasena)
  SELECT usuario, contrasena FROM inserted;
END;
GO
ALTER TABLE [dbo].[registro_usuarios] ENABLE TRIGGER [registro_usuarios_after_insert]
GO
USE [master]
GO
sp_rename 'dbo.TBL_productos', 'dbo.TBL_equipos'


-- Creamos la tabla perifericos_entrada
CREATE TABLE [dbo].[perifericos_entrada](
	[ID_PERIFERICO_ENTRADA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](255) NULL,
	[EQUIPO_ID] [nvarchar](50) NOT NULL,
	[FECHA_INGRESO] [datetime] NOT NULL,
	[PRECIO] [decimal](18, 2) NULL,
	PRIMARY KEY CLUSTERED ([ID_PERIFERICO_ENTRADA] ASC),
	CONSTRAINT [FK_perifericos_entrada_equipos] FOREIGN KEY([EQUIPO_ID])
	REFERENCES [dbo].[TBL_equipos] ([COD_PRODUCTOS])
)

-- Creamos la tabla perifericos_salida
CREATE TABLE [dbo].[perifericos_salida](
	[ID_PERIFERICO_SALIDA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](255) NULL,
	[EQUIPO_ID] [nvarchar](50) NOT NULL,
	[FECHA_SALIDA] [datetime] NOT NULL,
	[PRECIO] [decimal](18, 2) NULL,
	PRIMARY KEY CLUSTERED ([ID_PERIFERICO_SALIDA] ASC),
	CONSTRAINT [FK_perifericos_salida_equipos] FOREIGN KEY([EQUIPO_ID])
	REFERENCES [dbo].[TBL_equipos] ([COD_PRODUCTOS])
)

-- Creamos la tabla accesorios
CREATE TABLE [dbo].[accesorios](
	[ID_ACCESORIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](255) NULL,
	[EQUIPO_ID] [nvarchar](50) NOT NULL,
	[DESCRIPCION] [varchar](255) NULL,
	[PRECIO] [decimal](18, 2) NULL,
	PRIMARY KEY CLUSTERED ([ID_ACCESORIO] ASC),
	CONSTRAINT [FK_accesorios_equipos] FOREIGN KEY([EQUIPO_ID])
	REFERENCES [dbo].[TBL_equipos] ([COD_PRODUCTOS])
)


SELECT TOP 1 COD_PRODUCTOS FROM productos WHERE CATEGORIA = ? ORDER BY COD_PRODUCTOS DESC

